@model MayTinhDaiPhat.Models.Slide

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Slide</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaSlide)

        <div class="form-group">
            @Html.LabelFor(model => model.TenSlide, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSlide)
                @Html.ValidationMessageFor(model => model.TenSlide)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhSlide, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnhSlide)
                @Html.ValidationMessageFor(model => model.AnhSlide)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STT)
                @Html.ValidationMessageFor(model => model.STT)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
