@model MayTinhDaiPhat.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SanPham</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaSP)

        <div class="form-group">
            @Html.LabelFor(model => model.MaTH, "MaTH", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaTH", String.Empty)
                @Html.ValidationMessageFor(model => model.MaTH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaDM, "MaDM", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDM", String.Empty)
                @Html.ValidationMessageFor(model => model.MaDM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnhSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnhSP)
                @Html.ValidationMessageFor(model => model.AnhSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa)
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KhuyenMai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KhuyenMai)
                @Html.ValidationMessageFor(model => model.KhuyenMai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChiTiet, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChiTiet)
                @Html.ValidationMessageFor(model => model.ChiTiet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan)
                @Html.ValidationMessageFor(model => model.GiaBan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaCu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaCu)
                @Html.ValidationMessageFor(model => model.GiaCu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BaoHanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaoHanh)
                @Html.ValidationMessageFor(model => model.BaoHanh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuong)
                @Html.ValidationMessageFor(model => model.SoLuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LuotXem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LuotXem)
                @Html.ValidationMessageFor(model => model.LuotXem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDang)
                @Html.ValidationMessageFor(model => model.NgayDang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayCapNhat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayCapNhat)
                @Html.ValidationMessageFor(model => model.NgayCapNhat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HienThi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HienThi)
                @Html.ValidationMessageFor(model => model.HienThi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
