
@using System.Activities.Expressions
@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<MayTinhDaiPhat.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThuongHieu.TenTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiTiet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaCu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaoHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotXem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HienThi)
        </th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
{
    <tr id="row_@item.MaSP">
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuongHieu.TenTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnhSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhuyenMai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiTiet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaCu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaoHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotXem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HienThi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
            @Ajax.ActionLink("Xóa", "Delete", new { id = @item.MaSP }, new AjaxOptions()
                {
                    Confirm = "Bạn có muốn xóa bản ghi này không",
                    OnComplete = "$('#row_" + @item.MaSP + "').remove()",
                    HttpMethod = "Delete"
                }, new { @class = "btn btn-danger btn-xs btn-edit" })
        </td>
    </tr>
}

</table>
