@model MayTinhDaiPhat.Models.TinTuc
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section masterjs {
    <link type="text/css" href="~/Content/assets/plugins/form-daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/plugins/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/form-ckeditor/ckeditor.js"></script>  	<!-- CKEditor -->
    <script>
        //Fix since CKEditor can't seem to find it's own relative basepath
        CKEDITOR_BASEPATH = "~/Content/assets/plugins/form-ckeditor/";
    </script>
    <script>
        //Eternicode Datepicker
        $(".datepicker").datepicker({ todayHighlight: true });
        $('#btnSelectImage2').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#HinhAnh').val(url);
            };
            finder.popup();
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <legend>Thêm Sản Phẩm</legend>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Tiêu Đề Tin</label>(<span style="color:#FF0000">*</span>)
                    @Html.TextBoxFor(model => model.TieuDe, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TieuDe)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Loại Tin Tức</label>(<span style="color:#FF0000">*</span>)
                    @Html.DropDownListFor(model => model.MaDM, (SelectList)ViewBag.MaDM, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaDM)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ngày Nhập</label>(<span style="color:#FF0000">*</span>)
                    @Html.TextBoxFor(model => model.NgayCapNhat, new { @class = "form-control form_datetime datepicker", id = "datepicker", placeholder = "Ngày Nhập..." })
                    @Html.ValidationMessageFor(model => model.NgayCapNhat)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Ngày Hết Hạn</label>(<span style="color:#FF0000">*</span>)
                    @Html.TextBoxFor(model => model.NgayDang, new { @class = "form-control form_datetime datepicker", placeholder = "Ngày Hết Hạn..." })
                    @Html.ValidationMessageFor(model => model.NgayDang)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.HinhAnh, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HinhAnh)
                </div>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary" id="btnSelectImage2">
                    <i class="fa fa-arrow-circle-o-down"></i>
                    <span>Chọn Ảnh</span>
                </button>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mô Tả Tóm Tắt</label>
                    @*<textarea id="editor4" name="Description"></textarea>*@
                    @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control ckeditor", id = "txtDescription" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn-primary btn">Thêm</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
