@using System.Activities.Expressions
@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<MayTinhDaiPhat.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên quyền
        </th>
        <th>
            Tên nhân viên
        </th>
        <th>
            tên đăng nhập
        </th>
        <th>
            Mật khẩu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr id="row_@item.MaNV">
        <td>
            @Html.DisplayFor(modelItem => item.Quyen.TenQuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
          @Ajax.ActionLink("Xóa", "Delete", new { id = @item.MaNV }, new AjaxOptions()
                {
                    Confirm = "Bạn có muốn xóa bản ghi này không",
                    OnComplete = "$('#row_" + @item.MaNV + "').remove()",
                    HttpMethod = "Delete"
                }, new { @class = "btn btn-danger btn-xs btn-edit" })
        </td>
    </tr>
}

</table>
