<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/Content/Style/Admin.css" rel="stylesheet" />

    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>

    <div class="wrap">
        <div id="header">
            <div id="top">
                <div class="left">
                    <p>
                        Welcome, <strong>@Session["User"]</strong> @Html.ActionLink("Đăng xuất", "Index", "Login", null, new { @style = "color: white" })
                    </p>
                </div>
                <div class="right">
                    <div class="align-right">
                        <p>
                            <a href="/" style="color: white">Trang chủ</a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="nav">
                @*<ul>
                        <li class="upp">
                            <a href="#">Main control</a>
                        </li>
                        <li class="upp">
                            <a href="#">Main control</a>
                        </li>
                        <li class="upp">
                            <a href="#">Main control</a>
                        </li>
                        <li class="upp">
                            <a href="#">Main control</a>
                        </li>
                    </ul>*@
            </div>
        </div>

        <div id="content">

            <div id="sidebar">
                <div class="box">
                    <div class="title">› Trang chủ</div>
                    <ul>
                        <li class="b1">
                            @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "icon view_page" })
                        </li>
                    </ul>
                </div>
                <div class="box">
                    <div class="title">› Hệ thống</div>
                    <ul style="display: none;">
                        <li class="b1">@Html.ActionLink("Nhóm người dùng", "Index", "UserGroup", null, new { @class = "icon page" })</li>
                        <li class="b2">@Html.ActionLink("Người dùng", "Index", "User", null, new { @class = "icon report" })</li>
                        @*<li class="b1"><a class="icon photo" href="">Add new gallery</a></li>
                            <li class="b1"><a class="icon photo" href="">Orders</a></li>*@
                    </ul>
                </div>
                <div class="box">
                    <div class="title">› Tin tức</div>
                    <ul style="display: none;">
                        <li class="b1">@Html.ActionLink("Nhóm tin tức", "Index", "Tag", null, new { @class = "icon page" })</li>
                        <li class="b2">@Html.ActionLink("Tin tức", "Index", "News", null, new { @class = "icon report" })</li>
                        @*<li class="b1"><a class="icon photo" href="">Add new gallery</a></li>
                            <li class="b1"><a class="icon photo" href="">Orders</a></li>*@
                    </ul>
                </div>
                <div class="box">
                    <div class="title">› Sản phẩm</div>
                    <ul style="display: none;">
                        <li class="b1">@Html.ActionLink("Nhóm sản phẩm", "Index", "Category", null, new { @class = "icon page" })</li>
                        <li class="b2">@Html.ActionLink("Sản phẩm", "Index", "Product", null, new { @class = "icon report" })</li>
                        <li class="b1">@Html.ActionLink("Đơn hàng", "Index", "Order", null, new { @class = "icon photo" })</li>
                        @*<li class="b1"><a class="icon photo" href="">Add new gallery</a></li>
                            <li class="b1"><a class="icon photo" href="">Orders</a></li>*@
                    </ul>
                </div>
                <div class="box">
                    <div class="title">› Cấu hình chung</div>
                    <ul style="display: none;">
                        <li class="b1">@Html.ActionLink("Nhóm Menu", "Index", "MenuType", null, new { @class = "icon view_page" })</li>
                        <li class="b2">@Html.ActionLink("Menu", "Index", "Menu", null, new { @class = "icon report" })</li>
                        <li class="b1">@Html.ActionLink("Giới thiệu", "Index", "About", null, new { @class = "icon add_page" })</li>
                        <li class="b2">@Html.ActionLink("Phản hồi", "Index", "FeedBack", null, new { @class = "icon config" })</li>
                    </ul>
                </div>
            </div>

            <div id="main">
                @RenderBody()
            </div>

            <div class="clear"></div>
        </div>

        <div id="footer">
            <div class="left">
                <p>Design: <a href="https://www.facebook.com/Strongking.1271995">Strongking</a> | Admin Panel: <a href="">Artvico.com</a></p>
            </div>
            <div class="right"></div>
        </div>
    </div>

    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    $(".box .title").not(this).next("ul").hide("normal");
        //    $(".box .title").not(this).next("#home").show("normal");
        //    $(".box").children(".title").click(function () { $(this).next("ul").slideToggle(); });
        //});
    </script>
    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Assets/Admin/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/ckeditor/ckeditor.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
